.iconfont {
  /*font-size: 20px;*/
}

.text-align-center {
  text-align: center;
}

.group-data-cell {
  /*margin-top: 1px !important;*/
  /*margin-bottom: 1px !important;*/
  border-bottom: 1px solid gray;
}

.green-light{
  color: #3cc51f!important;
}
.gray-light{
  color: #828282!important;
}
